@media (min-width: 1201px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
    }
    
    .nameaddbrand_label{
        margin-right: 100px;
        font-size: 18px;
    }
    
    .descriptionaddbrand_label{
        margin-right: 50px;
        font-size: 18px;
    }

    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 50%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 30px;
    }

    .buttonaddbrand{
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        margin-top: 70px;
        justify-content: space-between;
        margin-bottom: 2%;
    }
}

@media (min-width: 993px) and (max-width: 1200px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
    }
    
    .nameaddbrand_label{
        margin-right: 100px;
        font-size: 18px;
    }
    
    .descriptionaddbrand_label{
        margin-right: 50px;
        font-size: 18px;
    }

    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 50%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 30px;
    }
    
    .buttonaddbrand{
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        margin-top: 70px;
        justify-content: space-between;
        margin-bottom: 2%;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
    }
    
    .nameaddbrand_label{
        margin-right: 100px;
        font-size: 18px;
    }
      
    .descriptionaddbrand_label{
        margin-right: 50px;
        font-size: 18px;
    }

    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 50%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 30px;
    }
    
    .buttonaddbrand{
        margin-left: 14%;
        margin-right: 14%;
        display: flex;
        margin-top: 70px;
        justify-content: space-between;
        margin-bottom: 2%;
    }
}

@media (min-width: 577px) and (max-width: 768px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
    }
    
    .nameaddbrand_label{
        margin-right: 90px;
        font-size: 18px;
    }
    
    .descriptionaddbrand_label{
        margin-right: 40px;
        font-size: 18px;
    }
  
    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 50%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 30px;
    }
    
    .buttonaddbrand{
        margin-left: 8%;
        margin-right: 8%;
        display: flex;
        margin-top: 70px;
        justify-content: space-between;
        margin-bottom: 2%;
    }
}

@media (max-width: 576px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
    }
    
    .nameaddbrand_label{
        margin-right: 70px;
        font-size: 16px;
    }
    
    .descriptionaddbrand_label{
        margin-right: 20px;
        font-size: 16px;
    }
 
    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 50%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 10px;
    }
    
    .buttonaddbrand{
        margin-left: 1%;
        margin-right: 1%;
        display: flex;
        margin-top: 70px;
        justify-content: space-between;
        margin-bottom: 2%;
    }
}

