@media (min-width: 1201px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
        margin-right: 100px;
    }
    
    .nameeditemplabel{
        margin-right: 70px;
        font-size: 18px;
    }
    
    .emaileditemp_label{
        margin-right: 71px;
        font-size: 18px;
    }
    
    .passwordeditemp_label{
        margin-right: 37px;
        font-size: 18px;
    }
    
    .contacteditemp_label{
        margin-right: 55px;
        font-size: 18px;
    }
    
    .usernameeditemp_label{
        margin-right: 37px;
        font-size: 18px;
    }
    
    .addresseditemp_label{
        margin-right: 55px;
        font-size: 18px;
    }

    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 60%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 20px;
    }
}

@media (min-width: 993px) and (max-width: 1200px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
        margin-right: 100px;
    }
    
    .nameeditemplabel{
        margin-right: 70px;
        font-size: 18px;
    }
    
    .emaileditemp_label{
        margin-right: 71px;
        font-size: 18px;
    }
    
    .passwordeditemp_label{
        margin-right: 37px;
        font-size: 18px;
    }
    
    .contacteditemp_label{
        margin-right: 55px;
        font-size: 18px;
    }
    
    .usernameeditemp_label{
        margin-right: 37px;
        font-size: 18px;
    }
    
    .addresseditemp_label{
        margin-right: 55px;
        font-size: 18px;
    }

    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 60%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 20px;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
        margin-right: 100px;
    }
    
    .nameeditemplabel{
        margin-right: 50px;
        font-size: 18px;
    }
    
    .emaileditemp_label{
        margin-right: 51px;
        font-size: 18px;
    }
    
    .passwordeditemp_label{
        margin-right: 17px;
        font-size: 18px;
    }
    
    .contacteditemp_label{
        margin-right: 35px;
        font-size: 18px;
    }
    
    .usernameeditemp_label{
        margin-right: 17px;
        font-size: 18px;
    }
    
    .addresseditemp_label{
        margin-right: 35px;
        font-size: 18px;
    }

    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 70%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 10px;
    }
}

@media (min-width: 577px) and (max-width: 768px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
        margin-right: 100px;
    }
    
    .nameeditemplabel{
        margin-right: 70px;
        font-size: 18px;
    }
    
    .emaileditemp_label{
        margin-right: 71px;
        font-size: 18px;
    }
    
    .passwordeditemp_label{
        margin-right: 37px;
        font-size: 18px;
    }
    
    .contacteditemp_label{
        margin-right: 55px;
        font-size: 18px;
    }
    
    .usernameeditemp_label{
        margin-right: 37px;
        font-size: 18px;
    }
    
    .addresseditemp_label{
        margin-right: 55px;
        font-size: 18px;
    }

    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 60%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 20px;
    }
}

@media (max-width: 576px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
        margin-right: 100px;
    }
    
    .nameeditemplabel{
        margin-right: 70px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .emaileditemp_label{
        margin-right: 71px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .passwordeditemp_label{
        margin-right: 37px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .contacteditemp_label{
        margin-right: 55px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .usernameeditemp_label{
        margin-right: 37px;
        font-size: 18px;
        font-weight: 500;
    }
    
    .addresseditemp_label{
        margin-right: 55px;
        font-size: 18px;
        font-weight: 500;
    }

    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 60%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 15px;
        padding-left: 10px;
    }
}

