@media (min-width: 1201px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
    }
    
    .nameeditcust_label{
        margin-right: 100px;
        font-size: 18px;
    }
    
    .emaileditcust_label{
        margin-right: 101px;
        font-size: 18px;
    }
    
    .passwordeditcust_label{
        margin-right: 67px;
        font-size: 18px;
    }
    
    .contacteditcust_label{
        margin-right: 85px;
        font-size: 18px;
    }
    
    .usernameeditcust_label{
        margin-right: 67px;
        font-size: 18px;
    }
    
    .addresseditcust_label{
        margin-right: 85px;
        font-size: 18px;
    }

    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 50%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 30px;
    }

    
    
    .buttoneditcust{
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        margin-top: 3%;
        justify-content: space-between;
        margin-bottom: 2%;
    }
}

@media (min-width: 993px) and (max-width: 1200px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
    }
    
    .nameeditcust_label{
        margin-right: 100px;
        font-size: 18px;
    }
    
    .emaileditcust_label{
        margin-right: 101px;
        font-size: 18px;
    }
    
    .passwordeditcust_label{
        margin-right: 67px;
        font-size: 18px;
    }
    
    .contacteditcust_label{
        margin-right: 85px;
        font-size: 18px;
    }
    
    .usernameeditcust_label{
        margin-right: 67px;
        font-size: 18px;
    }
    
    .addresseditcust_label{
        margin-right: 85px;
        font-size: 18px;
    }

    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 50%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 30px;
    }
    
    .buttoneditcust{
        margin-left: 20%;
        margin-right: 20%;
        display: flex;
        margin-top: 3%;
        justify-content: space-between;
        margin-bottom: 2%;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
    }
    
    .nameeditcust_label{
        margin-right: 90px;
        font-size: 18px;
    }
    
    .emaileditcust_label{
        margin-right: 91px;
        font-size: 18px;
    }
    
    .passwordeditcust_label{
        margin-right: 57px;
        font-size: 18px;
    }
    
    .contacteditcust_label{
        margin-right: 75px;
        font-size: 18px;
    }
    
    .usernameeditcust_label{
        margin-right: 57px;
        font-size: 18px;
    }
    
    .addresseditcust_label{
        margin-right: 75px;
        font-size: 18px;
    }

    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 50%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 30px;
    }
    
    .buttoneditcust{
        margin-left: 14%;
        margin-right: 14%;
        display: flex;
        margin-top: 3%;
        justify-content: space-between;
        margin-bottom: 2%;
    }
}

@media (min-width: 577px) and (max-width: 768px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
    }
    
     .nameeditcust_label{
        margin-right: 80px;
        font-size: 18px;
    }
    
    .emaileditcust_label{
        margin-right: 81px;
        font-size: 18px;
    }
    
    .passwordeditcust_label{
        margin-right: 47px;
        font-size: 18px;
    }
    
    .contacteditcust_label{
        margin-right: 65px;
        font-size: 18px;
    }
    
    .usernameeditcust_label{
        margin-right: 47px;
        font-size: 18px;
    }
    
    .addresseditcust_label{
        margin-right: 65px;
        font-size: 18px;
    }
  
    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 50%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 30px;
    }
    
    .buttoneditcust{
        margin-left: 8%;
        margin-right: 8%;
        display: flex;
        margin-top: 3%;
        justify-content: space-between;
        margin-bottom: 2%;
    }
}

@media (max-width: 576px){
    .Name_Field{
        display: flex;
        width: 100%;
        margin-left: 0%;
        /* border: 1px solid red; */
        height: 60px;
        justify-content: center;
    }
    
    .nameeditcust_label{
        margin-right: 50px;
        font-size: 16px;
    }
    
    .emaileditcust_label{
        margin-right: 51px;
        font-size: 16px;
    }
    
    .passwordeditcust_label{
        margin-right: 17px;
        font-size: 16px;
    }
    
    .contacteditcust_label{
        margin-right: 35px;
        font-size: 16px;
    }
    
    .usernameeditcust_label{
        margin-right: 17px;
        font-size: 16px;
    }
    
    .addresseditcust_label{
        margin-right: 35px;
        font-size: 16px;
    }
 
    .name_input{
        margin-top: 18px;
        height: 30px;
        width: 50%;
        border-radius: 4px;
        border: 1px solid black;
        font-size: 16px;
        padding-left: 10px;
    }
    
    .buttoneditcust{
        margin-left: 1%;
        margin-right: 1%;
        display: flex;
        margin-top: 3%;
        justify-content: space-between;
        margin-bottom: 2%;
    }
}

